<%= render partial: "header", locals: {artist:} %>

<h2 class="mt-4 text-header-2">Popular
  <%= link_to "See all", tracks_artist_path(artist), class: "artist--section-link" %>
</h2>

<ul class="tracks mt-2">
  <%= render tracks, enqueueble: true %>
  <li class="track">
    <span class="track--number"></span>
    <a href="#" class="text-secondary hover:text-primary transition-colors">Load more</a>
  </li>
</ul>

<hr class="my-4"/>

<%= render partial: "discography", locals: {artist:, albums:} %>
